"*":
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "archive-view"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "keybinding-resolver"
      "autosave"
      "language-toml"
      "metrics"
      "package-generator"
      "styleguide"
      "welcome"
      "linter-stylelint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      ".meteor"
    ]
    openEmptyEditorOnStart: false
  editor:
    fontSize: 15
    invisibles:
      eol: " "
    showInvisibles: true
  "exception-reporting":
    userId: "89279904-fd73-8382-5396-12a2649ba1ba"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace":
    closeFindPanelAfterSearch: true
  "fuzzy-finder": {}
  "git-diff": {}
  "grammar-selector": {}
  linter:
    showErrorPanel: false
  "linter-eslint": {}
  "linter-stylelint":
    disableWhenNoConfig: true
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts": {}
  "one-dark-ui": {}
  pigments: {}
  "spell-check": {}
  "status-bar": {}
  tabs: {}
  "theme-switcher":
    syntaxThemeOne: "one-dark-syntax"
    syntaxThemeTwo: "one-light-syntax"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".css.source":
  editor:
    tabLength: 2
".scss.source":
  editor:
    tabLength: 4
