"*":
  core:
    disabledPackages: [
      "timecop"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    projectHome: "/Users/Richard/Projekt"
    themes: [
      "spacegray-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  emmet: {}
  "exception-reporting":
    userId: "1f6d8ded-d27b-39e5-b84e-95714f424379"
  "git-plus": {}
  "keyboard-localization":
    useKeyboardLayout: "sv_SE"
  linter:
    lintOnFly: false
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-php": {}
  "linter-rubocop":
    command: "/Users/Richard/.rbenv/shims/rubocop"
  "linter-scss-lint":
    executablePath: "/Users/Richard/.rbenv/shims/scss-lint"
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui": {}
  pigments:
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
  react: {}
  "relative-line-numbers":
    showNormalLineNumbers: false
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
