"*":
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "archive-view"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "keybinding-resolver"
      "autosave"
      "language-toml"
      "metrics"
      "package-generator"
      "styleguide"
      "welcome"
    ]
    openEmptyEditorOnStart: false
  editor:
    fontSize: 15
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "89279904-fd73-8382-5396-12a2649ba1ba"
  "find-and-replace":
    closeFindPanelAfterSearch: true
  "fuzzy-finder": {}
  "git-diff": {}
  "grammar-selector": {}
  linter:
    showErrorPanel: false
    showProviderName: false
  "linter-eslint": {}
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts": {}
  "one-dark-ui": {}
  pigments: {}
  "spell-check": {}
  "status-bar": {}
  tabs: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
".css.source":
  editor:
    tabLength: 2
".scss.source":
  editor:
    tabLength: 4
